In [26]:
# Aparencias(weather) : sol(sunny), nublado(cloudy), chuva(raining)
# Temperatura(temperature): -130 to 130 F
# Umidade(humidity): 0 to 100
# Vento(Wind): FALSO(FALSE), VERDADEIRO(TRUE)
# Jogar(play): sim/nao

In [1]:
import pandas as pd
import seaborn as srn
import statistics  as sts
import numpy as np

In [2]:
dataset = pd.read_csv("tempo.csv", sep=";")
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [3]:
dataset.shape

(14, 5)

In [4]:
dataset.columns = ["weather", "temperature", "humidity", "wind", "play"]

In [5]:
dataset.head()

   weather  temperature  humidity        wind play
0      sol           85      85.0       FALSO  nao
1      sol           80      90.0  VERDADEIRO  nao
2  nublado           83      86.0       FALSO  sim
3    chuva           70       NaN       FALSO  sim
4    chuva           68      80.0       FALSO  sim

In [6]:
dataset.isnull().sum()

weather        0
temperature    0
humidity       1
wind           1
play           0
dtype: int64

In [7]:
dataset["humidity"].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: humidity, dtype: float64

In [8]:
median = sts.median(dataset["humidity"])
median

85.5

In [9]:
dataset["humidity"].fillna(median, inplace=True)

C:\Users\joao\AppData\Local\Temp\ipykernel_5452\431596471.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["humidity"].fillna(median, inplace=True)

In [10]:
dataset["humidity"].isnull().sum()

0

In [11]:
dataset.loc[(dataset["humidity"] > 100), "humidity"] = median

In [12]:
dataset.loc[(dataset["humidity"] > 100)]

Empty DataFrame
Columns: [weather, temperature, humidity, wind, play]
Index: []

In [13]:
dataset["wind"].describe()

count        13
unique        2
top       FALSO
freq          7
Name: wind, dtype: object

In [14]:
mode = sts.mode(dataset["wind"])
mode

'FALSO'

In [15]:
dataset.loc[pd.isna(dataset["wind"]), "wind"] = mode

In [16]:
dataset.loc[pd.isna(dataset["wind"])]

Empty DataFrame
Columns: [weather, temperature, humidity, wind, play]
Index: []

In [17]:
group = dataset.groupby(["weather"]).size()
group

weather
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [ ]:
dataset["weather"].replace("menos", "chuva", inplace=True)

C:\Users\joao\AppData\Local\Temp\ipykernel_5452\1335527466.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["weather"].replace("menos", "chuva", inplace=True)

In [19]:
group = dataset.groupby(["weather"]).size()
group

weather
chuva      6
nublado    3
sol        5
dtype: int64

In [20]:
dataset.head()

   weather  temperature  humidity        wind play
0      sol           85      85.0       FALSO  nao
1      sol           80      90.0  VERDADEIRO  nao
2  nublado           83      86.0       FALSO  sim
3    chuva           70      85.5       FALSO  sim
4    chuva           68      80.0       FALSO  sim

In [21]:
dataset["temperature"].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: temperature, dtype: float64

In [22]:
median = sts.median(dataset["temperature"])
median

73.5

In [23]:
dataset.loc[(dataset["temperature"] > 100), "temperature"] = median

C:\Users\joao\AppData\Local\Temp\ipykernel_5452\1615281999.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '73.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataset.loc[(dataset["temperature"] > 100), "temperature"] = median

In [24]:
dataset["temperature"].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: temperature, dtype: float64

In [25]:
group2 = dataset.groupby(["play"]).size()
group2

play
nao    5
sim    9
dtype: int64